
bin/Debug/MyGame.exe
bin/Debug/MyGame.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/MyGame.csproj.AssemblyReference.cache
obj/Debug/MyGame.csproj.CoreCompileInputs.cache
obj/Debug/MyGame.csproj.FileListAbsolute.txt
obj/Debug/MyGame.exe
obj/Debug/MyGame.pdb
.vs/MyGame/v17/.suo
bin/Debug/MyGame.exe
bin/Debug/MyGame.pdb
obj/Debug/MyGame.csproj.AssemblyReference.cache
obj/Debug/MyGame.csproj.CoreCompileInputs.cache
obj/Debug/MyGame.exe
obj/Debug/MyGame.pdb
.vs/MyGame/v17/.suo
bin/Debug/MyGame.exe
bin/Debug/MyGame.pdb
obj/Debug/MyGame.csproj.AssemblyReference.cache
obj/Debug/MyGame.csproj.CoreCompileInputs.cache
obj/Debug/MyGame.exe
obj/Debug/MyGame.pdb
